
/* Nav modifications */
body {
  background: url('../images/bg.png') no-repeat fixed;
  background-color: #003b64;
  color: #fff;
}

ul.nav { background: transparent; }
ul.nav ul.hidden { background: url('../images/contentbg.png') repeat; }
ul.nav li { background: transparent; margin-right: 0; }
ul.nav > li a {
  background: url('../images/contentbg.png') repeat !important;
  font-weight: 600;
}
.nav > li {
  font-size: 22px;
}

ul.nav li ul li a { background: url('../images/contentbg.png') repeat !important; }

ul.nav li:hover a {
  background: url('../images/contentbg.png') repeat;
  color: #3b97f5;
}

ul.nav li a:hover + .hidden, .hidden:hover {
	display: block;
}

ul.nav ul.hidden.second-level {
  left:50px !important;
}

ul.nav ul.hidden li a:hover { background: #000 !important; }


@media (max-width: 768px) {
  body { margin-top: 0; }
}

/* override headings */
h1 {
  font-size: 43px;
  font-weight: 600;
  line-height: 55px;
  text-shadow: 3px 3px 3px #000;
}

h2, h3, h4, h5 {
  text-shadow: 2px 2px 2px #000;
}

a { text-shadow: 1px 1px 1px #000; }
p { text-shadow: 1px 1px 1px #000; }
ul.nav li ul { background: #333; }
ul.nav li a { text-shadow: 2px 2px 2px #000; }
ul.nav ul.hidden li a {
  color: #fff;
}

/* Add shadows to h1 tags */

/* Hero banner */
.hero-banner {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  left: 0;
  background: #3F3F3F;
  color: #fff;
}

.content-box {
  padding: 15px 30px;
  background: url('../images/contentbg.png') repeat;
  min-height: 40px;
  border-radius: 10px;
}

.top-bar {
  background: url('../images/contentbg.png') repeat;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 17px;
  padding-top: 4px;
  padding-right: 40px;
}

.top-bar a {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.top-bar a:hover {
  color: #1fff00;
}

.top-bar ul {
  list-style-type:none;
  position: relative;
  bottom:9px;
}

.top-bar ul > li {
  display: block;
  float: left;
  margin-right: 30px;
}

.front-news-box img {
  border: 5px solid #4a4a79;
  border-radius: 5px;
}

.front-news-box h5 { margin-top: 0; }
.latest-news .media img {
  height: 70px;
  width: 120px;
  border: 2px solid #fafafa;
  border-radius: 10px;
}

.latest-news .media > .media-body > .media-heading { color: #FAED59; }

.btn-primary {
  font-weight: normal;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid #fafafa;
  background: #004d8c;
  color: #fff;
}

.btn-primary:hover { background: #113E63; }
.join-btn {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 37px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 2px #000;
}

.share-box ul {
  list-style-type:none;
  position: relative;
}

.share-box ul > li {
  display: block;
  float: left;
  margin-right: 15px;
  font-size: 37px;
  color: #afafaf;
}

.share-box ul > li:after { clear: both; }

.share-box ul > li:hover {
  color: #fff;
}

.info-box {
  border: 1px solid #888CF1;
  border-radius: 10px;
}

.latest-news .info-box { background: transparent; }

.latest-news .media { padding:5px; border: 1px solid transparent; }
.latest-news .media:hover {
  cursor: pointer;
  background: #1a1a1a;
  border: 1px solid #888CF1;
  border-radius: 10px;
}

.form > .form-grp {
    margin-bottom: 15px;
  }

  .form > .form-grp > .form-label {
    width: 100%;
    float: none;
    margin-bottom: 5px;
    padding-left: 0;
  }

  .form > .form-grp > .form-control {
    width: 100%;
    float: none;
  }

  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%;
    font-weight: 600;
  }

.signin-box {
  z-index: 1000;
  display: none;
  position: relative;
  min-width: 200px;
  min-height: 100px;
  background: #333;
  padding: 10px;
  top:20px;
}

.signin-title {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: block;
  background: #1a1a1a;
  width: 100%;
  border-radius: 10px;
}

.modal {
  z-index: 9999 !important;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 30%;
  min-width: 400px;
  min-height: 100px;
  opacity: 1.0 !important;
  border-radius: 10px;
}

#fade {
    display: none;  /* ensures it’s invisible until it’s called */
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}
